{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the <textarea> element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}
{%
  set classes = [
    'form-textarea',
    resizable ? 'resize-' ~ resizable,
    required ? 'required',
    'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6',
  ]
%}
{% block content %}
  <div{{ wrapper_attributes.addClass('form-textarea-wrapper mt-2') }} data-component-id="{{ attributes['data-component-id'] }}">
  {% set attributes = attributes.removeAttribute('data-component-id') %}
    <textarea{{ attributes.addClass(classes) }}>{{ value }}</textarea>
  </div>
{% endblock %}
