{#
/**
* @file
* Default theme implementation for a feed icon.
*
* Available variables:
* - url: An internal system path or a fully qualified external URL of the feed.
* - title: Title of the feed for describing the feed on the subscribe link.
* - attributes: Remaining HTML attributes for the feed link.
* - title: A descriptive title of the feed link.
* - class: HTML classes to be applied to the feed link.
*
* @ingroup themeable
*/
#}

{%
    set classes = [
        'group',
    ]
%}

<a href="{{ url }}" {{ attributes.addClass(classes) }}>

    <div class="inline-flex size-5 bg-orange-500 text-white rounded-sm p-0.5 group-hover:opacity-80">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
            <path fill-rule="evenodd"
                d="M2 2.75A.75.75 0 0 1 2.75 2C8.963 2 14 7.037 14 13.25a.75.75 0 0 1-1.5 0c0-5.385-4.365-9.75-9.75-9.75A.75.75 0 0 1 2 2.75Zm0 4.5a.75.75 0 0 1 .75-.75 6.75 6.75 0 0 1 6.75 6.75.75.75 0 0 1-1.5 0C8 10.35 5.65 8 2.75 8A.75.75 0 0 1 2 7.25ZM3.5 11a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Z"
                clip-rule="evenodd" />
        </svg>
    </div>

    <span class="sr-only">
        {{ 'Subscribe to @title'|t({'@title': title}) }}
    </span>

</a>
