.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroller {
    scroll-padding-inline: 8px;
}

.item {
    animation: linear in-and-out both;
    animation-timeline: view(inline);
}

@keyframes in-and-out {
    entry 0%,
    exit 100% {
        opacity: 0.3;
    }
    entry 100%,
    exit 0% {
        opacity: 1;
    }
}
